/* Additional styling for larger screens */
@media (min-width: 800px) {
    main {
        padding: 3em;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
    }

    form div,
    fieldset {
        flex: 1 1 48%;
    }

    fieldset {
        margin-top: 0;
    }

    /* Adjusting the layout for larger screens */
    form div:nth-child(odd) {
        margin-right: 4%;
    }
}
